---
http_interactions:
- request:
    method: get
    uri: https://api.nal.usda.gov/fdc/v1/foods?api_key=W74dSHhO0cF9o7vwqes0tMf8x5ZW6RaG0ZhAlNFD&query=sweet%20potatoe
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"timestamp":"2020-10-19T16:49:00.900+0000","status":400,"error":"Bad
        Request","message":"Required List parameter ''fdcIds'' is not present","path":"/portal-data/api/v1/foods"}'
  recorded_at: Mon, 19 Oct 2020 16:49:00 GMT
recorded_with: VCR 6.0.0
