---
http_interactions:
- request:
    method: get
    uri: https://api.nal.usda.gov/fdc/v1/foods/search?api_key=W74dSHhO0cF9o7vwqes0tMf8x5ZW6RaG0ZhAlNFD&pageSize=10&query=sweet%20potatoe
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"foodSearchCriteria":{"query":"sweet potatoe","generalSearchInput":"sweet
        potatoe","pageNumber":1,"requireAllWords":false},"totalHits":38680,"currentPage":1,"totalPages":3868,"foods":[{"fdcId":784534,"description":"Bread,
        sweet potato","additionalDescriptions":"pre-sliced or not","dataType":"Survey
        (FNDDS)","foodCode":"51134000","publishedDate":"2020-04-01","foodNutrients":[{"nutrientId":1003,"nutrientName":"Protein","nutrientNumber":"203","unitName":"G","value":7.40000000},{"nutrientId":1004,"nutrientName":"Total
        lipid (fat)","nutrientNumber":"204","unitName":"G","value":2.85000000},{"nutrientId":1005,"nutrientName":"Carbohydrate,
        by difference","nutrientNumber":"205","unitName":"G","value":45.24000000},{"nutrientId":1008,"nutrientName":"Energy","nutrientNumber":"208","unitName":"KCAL","value":239.00000000},{"nutrientId":1018,"nutrientName":"Alcohol,
        ethyl","nutrientNumber":"221","unitName":"G","value":0E-8},{"nutrientId":1051,"[...]
