---
http_interactions:
- request:
    method: get
    uri: https://api.nal.usda.gov/fdc/v1/foods/search?api_key=W74dSHhO0cF9o7vwqes0tMf8x5ZW6RaG0ZhAlNFD&pageSize=10&query
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"foodSearchCriteria":{"query":"","pageNumber":1,"requireAllWords":false},"totalHits":358117,"currentPage":1,"totalPages":35812,"foods":[{"fdcId":789266,"description":"100
        GRAND Bar","additionalDescriptions":"$ 100,000 Bar","dataType":"Survey (FNDDS)","foodCode":"91715300","publishedDate":"2020-04-01","foodNutrients":[{"nutrientId":1003,"nutrientName":"Protein","nutrientNumber":"203","unitName":"G","value":2.50000000},{"nutrientId":1004,"nutrientName":"Total
        lipid (fat)","nutrientNumber":"204","unitName":"G","value":19.33000000},{"nutrientId":1005,"nutrientName":"Carbohydrate,
        by difference","nutrientNumber":"205","unitName":"G","value":70.97000000},{"nutrientId":1008,"nutrientName":"Energy","nutrientNumber":"208","unitName":"KCAL","value":468.00000000},{"nutrientId":1018,"nutrientName":"Alcohol,
        ethyl","nutrientNumber":"221","unitName":"G","value":0E-8},{"nutrientId":1051,[...]
